<div class="app">
  <header>
    <h1 class="app-title">NG CATS</h1>
    <h2 class="app-subtitle">Encuentra tu mejor amigo</h2>
  </header>
  <main>
    <div class="container">
      <img src="assets/images/felix.jpg" alt="">
      <div class="info-cat">
        <h2><span>Nombre:</span> Felix</h2>
        <p><span>Descripción:</span> Felix tiene 12 años y es el mejor gato del mundo.</p>
      </div>
      <button>Adoptame</button>
    </div>
    <div class="container" >
      <img src="assets/images/donatella.jpg" alt="">
      <div class="info-cat">
        <h2>
          <span>Nombre:</span> Donatella</h2>
        <p>
          <span>Descripción:</span> Donatella tiene 1 año y es muy juguetona.</p>
      </div>
      <button>Adoptame</button>
    </div>
    <div class="container">
      <img src="assets/images/mapale.jpg" alt="">
      <div class="info-cat">
        <h2>
          <span>Nombre:</span> Mapalé</h2>
        <p>
          <span>Descripción:</span> Mapale tiene 7 años y es el mas tierno de todos.</p>
      </div>
      <button>Adoptame</button>
    </div>
    <div class="container">
      <img src="assets/images/milu.jpg" alt="">
      <div class="info-cat">
        <h2>
          <span>Nombre:</span> Milú</h2>
        <p>
          <span>Descripción:</span> Milú tiene 5 años y le gusta ser la reina de la casa.
        </p>
      </div>
      <button>Adoptame</button>
    </div>
  </main>
</div>
