<div class="app">
  <header>
    <h1 class="app-title">NG CATS</h1>
    <h2
      i18n="meaning|An introduction header for this sample"
      class="app-subtitle">
      Encuentra tu mejor amigo
    </h2>
    <input 
      type="text" 
      i18n-placeholder="@@Placeholder" 
      placeholder="Escribe el nombre del gatito"
    >
  </header>
  <main>
    <div class="container">
      <img src="assets/images/felix.jpg" alt="">
      <div class="info-cat">
        <h2 i18n="@@FirstCatName">
          <span>Nombre:</span> Felix
        </h2>
        <p i18n="Description paragrahp|Cat history and description@@FirstCatDescription">
          <span>Descripción:</span> Felix tiene 12 años y es el mejor gato del mundo.
        </p>
      </div>
      <button i18n="@@Button">Adoptame</button>
    </div>
    <div class="container" >
      <img src="assets/images/donatella.jpg" alt="">
      <div class="info-cat">
        <h2 i18n="@@SecondCatName">
          <span>Nombre:</span> Donatella
        </h2>
        <p i18n="Description paragrahp|Cat history and description@@SecondCatDescription">
          <span>Descripción:</span> Donatella tiene 1 año y es muy juguetona.
        </p>
      </div>
      <button i18n="@@Button">Adoptame</button>
    </div>
    <div class="container">
      <img src="assets/images/mapale.jpg" alt="">
      <div class="info-cat">
        <h2 i18n="@@ThirdCatName">
          <span>Nombre:</span> Mapalé
        </h2>
        <p i18n="Description paragrahp|Cat history and description@@ThirdCatDescription">
          <span>Descripción:</span> Mapale tiene 7 años y es el mas tierno de todos.
        </p>
      </div>
      <button i18n="@@Button">Adoptame</button>
    </div>
    <div class="container">
      <img src="assets/images/milu.jpg" alt="">
      <div class="info-cat">
        <h2 i18n="@@FourthCatName">
          <span>Nombre:</span> Milú
        </h2>
        <p i18n="Description paragrahp|Cat history and description@@FourthCatDescription">
          <span>Descripción:</span> Milú tiene 5 años y le gusta ser la reina de la casa.
        </p>
      </div>
      <button i18n="@@Button">Adoptame</button>
    </div>
  </main>
</div>
